<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Item Price</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary">
          Items
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <ion-card-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <mat-form-field class="mat-input-wrapper">
              <input
                matInput
                placeholder="Item Name"
                [(ngModel)]="itemName"
                (keyup.enter)="setFilter()"
              />
              <button mat-button matSuffix (click)="setFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-input-wrapper">
              <input
                matInput
                placeholder="Item Group"
                [(ngModel)]="itemGroup"
                (keyup.enter)="setFilter()"
              />
              <button mat-button matSuffix (click)="setFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <mat-form-field class="mat-input-wrapper">
              <input
                matInput
                placeholder="Brand"
                [(ngModel)]="brand"
                (keyup.enter)="setFilter()"
              />
              <button mat-button matSuffix (click)="setFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="example-container mat-elevation-z8">
        <table
          mat-table
          class="full-width-table"
          [dataSource]="dataSource"
          matSort
          (matSortChange)="setFilter($event)"
          aria-label="Elements"
        >
          <!-- Item -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">
              Item
            </th>
            <td mat-cell *matCellDef="let row">
              {{row.name}}
            </td>
          </ng-container>

          <!-- Item Name -->
          <ng-container matColumnDef="item_name">
            <th mat-header-cell *matHeaderCellDef>
              Item Name
            </th>
            <td mat-cell *matCellDef="let row">
              {{row.item_name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="has_serial">
            <th mat-header-cell *matHeaderCellDef>
              Serialized
            </th>
            <td mat-cell *matCellDef="let row">
              <section>
                <mat-checkbox
                  [(ngModel)]="row.has_serial_no"
                  (ngModelChange)="itemSerialized($event, row.item_name)"
                  class="example-margin"
                ></mat-checkbox>
              </section>
            </td>
          </ng-container>

          <!-- sales Warranty Months Column -->
          <ng-container matColumnDef="salesWarrantyMonths">
            <th mat-header-cell *matHeaderCellDef class="ion-text-center">
              Sales Warranty Months
            </th>

            <td
              class="ion-text-center"
              mat-cell
              *matCellDef="let row"
              [satPopoverAnchor]="d"
              tabindex="0"
              (keyup.enter)="d.open()"
              (click)="d.open()"
            >
              <ion-text>
                {{row.salesWarrantyMonths}}
              </ion-text>
              <sat-popover
                #d
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="updateSalesWarrantyMonths(row, $event)"
              >
                <edit-days
                  column="sales"
                  [value]="row.salesWarrantyMonths"
                ></edit-days>
              </sat-popover>
            </td>
          </ng-container>

          <!-- purchase Warranty Months Column -->
          <ng-container matColumnDef="purchaseWarrantyMonths">
            <th mat-header-cell *matHeaderCellDef class="ion-text-center">
              Purchase Warranty Months
            </th>

            <td
              class="ion-text-center"
              mat-cell
              *matCellDef="let row"
              [satPopoverAnchor]="d"
              tabindex="0"
              (keyup.enter)="d.open()"
              (click)="d.open()"
            >
              <ion-text>
                {{row.purchaseWarrantyMonths}}
              </ion-text>
              <sat-popover
                #d
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="updatePurchaseWarrantyMonths(row, $event)"
              >
                <edit-days
                  column="purchase"
                  [value]="row.purchaseWarrantyMonths"
                ></edit-days>
              </sat-popover>
            </td>
          </ng-container>
          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="ion-text-center">
              Price
            </th>
            <td
              class="ion-text-center"
              mat-cell
              *matCellDef="let row"
              [satPopoverAnchor]="p"
              tabindex="0"
              (keyup.enter)="p.open()"
              (click)="p.open()"
            >
              <ion-text>
                {{row.minimumPrice | curFormat | async}}
              </ion-text>
              <sat-popover
                #p
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="updateMinPrice(row, $event)"
              >
                <edit-price
                  [value]="row.minimumPrice"
                  column="price"
                ></edit-price>
              </sat-popover>
            </td>
          </ng-container>

          <!-- Selling Price Column -->
          <ng-container matColumnDef="selling_price">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Selling Price
            </th>
            <td
              class="ion-text-center"
              mat-cell
              *matCellDef="let row; let i = index"
            >
              <ion-text *ngIf="row.selling_price !== undefined">
                {{row.selling_price | curFormat | async}}
              </ion-text>
              <ion-button
                *ngIf="row.selling_price === undefined"
                (click)="loadPrice(row, i)"
                fill="clear"
              >
                <ion-icon slot="icon-only" name="refresh"></ion-icon>
              </ion-button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[10, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
