.sc-ion-card-md-h {
  min-height: 90vh;
}

.full-width {
  width: 100%;
}

.search-models {
  padding: 0em 1em 0em 1em;
}

.mat-column-total {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.footer {
  font-weight: bold;
}

.mat-column-sr_no {
  flex: 0 0 5%;
}

.date-filter-text {
  font-size: 0.7rem;
}

.full-width {
  width: 100%;
  color: black;
}

.date-filter-text {
  font-size: 0.7rem;
}
.example-container {
  box-shadow: none;
  height: auto;
  width: 100%;
  overflow: auto;
}

table {
  width: 150%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

mat-header-cell {
  flex-wrap: nowrap;
  min-width: 200px;
}
.mat-row,
.mat-header-row {
  min-width: 120%;
  width: 100%;
}
